<footer class="footer footer-center p-10 bg-neutral text-neutral-content">
  <div>
    <p class="font-bold text-lg">
      United Against Squash
    </p>
    <p>Standing firm since 2025</p>
    <p class="text-sm opacity-70">
      © 2025 ihatesquash.com - All rights reserved
    </p>
  </div>
  <div>
    <div class="grid grid-flow-col gap-4">
      <p class="text-xs opacity-50">No squashes were harmed in the making of this website. Probably.</p>
    </div>
  </div>
</footer>
