<header class="navbar bg-primary text-primary-content shadow-lg sticky top-0 z-50">
  <div class="container mx-auto">
    <div class="flex-1">
      <a href="/" class="btn btn-ghost normal-case text-xl font-bold">
        <span class="squash-emoji text-2xl mr-2">🎃</span>
        I Hate Squash
      </a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a href="/">Home</a></li>
        <li><a href="/reasons/">Reasons</a></li>
        <li><a href="/manifesto/">Manifesto</a></li>
        <li><a href="/alternatives/">Better Veggies</a></li>
      </ul>
    </div>
  </div>
</header>
